
@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="http://openlayers.org/en/v4.4.2/css/ol.css" type="text/css">
    <script src="https://code.jquery.com/jquery-1.11.2.js"integrity="sha256-WMJwNbei5YnfOX5dfgVCS5C4waqvc+/0fV7W2uy3DyU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://openlayers.org/en/v4.4.2/build/ol.js"></script>
    <h2>Test2</h2>
   
</head>
<form>
    <input type="checkbox" id ="Layer1" onclick="toggleLayer(layer1)" onchecked> <label for="Layer1">Карта экообъектов(лок)</label>
    <input type="checkbox" id ="Layer3" onclick="toggleLayer(layer3)" onchecked><label for="Layer3">Карта экообъектов респ.знач</label>
    <input type="checkbox" id="Layer5" onclick="toggleLayer(layer5)" onchecked><label for="Layer5">Карта водоемов</label>
    <input type="checkbox" id="Layer6" onclick="toggleLayer(layer6)" onchecked><label for="Layer6">Карта водозаборов и сан.зон</label>
    <input type="checkbox" id="Layer7" onclick="toggleLayer(layer7)" onchecked><label for="Layer7">Карта водоохран.зон поверх.вод</label>
    <input type="checkbox" id="Layer8" onclick="toggleLayer(layer8)" onchecked><label for="Layer8">Карта времени миграции</label>
    <input type="checkbox" id="Layer9" onclick="toggleLayer(layer9)" onchecked><label for="Layer9">Геологическая</label>
    <input type="checkbox" id="Layer10" onclick="toggleLayer(layer10)" onchecked><label for="Layer10">Карта грунтовых вод</label>
    <input type="checkbox" id="Layer11" onclick="toggleLayer(layer11)" onchecked><label for="Layer11">Густота речной сети</label>
    <input type="checkbox" id="Layer12" onclick="toggleLayer(layer12)" onchecked><label for="Layer12">Карта защищенности подземных вод</label>
    <input type="checkbox" id="Layer13" onclick="toggleLayer(layer13)" onchecked><label for="Layer13">Карта зоны аэрации</label>
    <input type="checkbox" id="Layer14" onclick="toggleLayer(layer14)" onchecked><label for="Layer14">Карта населенных пунктов</label>
    <input type="checkbox" id="Layer15" onclick="toggleLayer(layer15)" onchecked><label for="Layer15">Карта почв</label>
    <input type="checkbox" id="Layer16" onclick="toggleLayer(layer16)" onchecked><label for="Layer16">Карта растительности</label>
    <input type="checkbox" id="Layer17" onclick="toggleLayer(layer17)" onchecked><label for="Layer17">Карта рельефа</label>
    <input type="checkbox" id="Layer18" onclick="toggleLayer(layer18)" onchecked><label for="Layer18">Карта самоочищения</label>
    <input type="checkbox" id="Layer19" onclick="toggleLayer(layer19)" onchecked><label for="Layer19">Карта солнечной радиации</label>
    <input type="checkbox" id="Layer20" onclick="toggleLayer(layer20)" onchecked><label for="Layer20">Карта среднемесячных температур</label>
    <input type="checkbox" id="Layer21" onclick="toggleLayer(layer21)" onchecked><label for="Layer21">Карта четвертичных отложений</label>
    <input type="checkbox" id="Layer2" onclick="toggleLayer(layer2)" onchecked><label for="Layer21">Карта экообъектов нацпарки</label>
</form>
       <div id="map" class="map"></div>
    <div id="mouse-position"></div>
<select id="units">
    <option value="metric" selected>metric</option>
</select>
    <form id="options-form" automplete="off">
        <input type="text" id="display" name="result">
        <input type="text" id="display2" name="result">
        <div class="radio">
            <label>
                <input type="radio" name="interaction_type" value="draw" id="interection_type_draw" checked>
                Draw &nbsp;
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="interaction_type" value="modify" id="interaction_type_modify" />
                Modify &nbsp;
            </label>
        </div>

        <div class="form-inline">
            <label>Geometry type &nbsp;</label>
            <select name="geom-type" id="type">
                <option value="Point">Point</option>
            </select>
        </div>
    </form>
    <form>
        <label>Projection </label>
        <select id="projection">
            <option value="EPSG:4326">EPSG:4326</option>
        </select>
    </form>
<input type="hidden" id="coords" value="27,54">
<input type="button" value="Center" onclick="centerMap()">
    <div id="buttons">
        <button id="clear">clear</button>
    </div>
<div>
    <button id="polygon">polygon</button>
    <input type="hidden" id="coord1" value="[0, 0]">
    <input type="hidden" id="coord2" value="[0, 40]">
    <input type="hidden" id="coord3" value="[40, 0]">
</div>
    <canvas class="ol-unselectable" width="1000" height="5" style="width: 100%; height: 100%;"></canvas>

    <script type="text/javascript">
     
        var str = 'http://195.50.2.82:8080/geoserver/EGH/wms?';
        var raster = new ol.layer.Tile({
            source: new ol.source.OSM(),
            name:'OSM'
        });

        var source = new ol.source.Vector();
        var vector = new ol.layer.Vector({
            source: source,
            style: new ol.style.Style({
                fill: new ol.style.Fill({
                    color: '#53868b'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ffcc33',
                    width: 2
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: '#ffcc33'
                    })
                })
            })
        });

        var layer1 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_экообъектов_лок',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
                })
        });
        layer1.setVisible(false);

        var layer2 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_Экообъектов_нацпарки',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer2.setVisible(false);
        
        var layer3 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_экообъектов_респ_знач',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',                       
            })
        });
        layer3.setVisible(false);

            var layer5 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': '	EGH:Карта_водоемов',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer5.setVisible(false);

        var layer6 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_водозаборов_и_санит_зон',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer6.setVisible(false);

        var layer7 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': '	EGH:Карта_водоохранных_зон_поверх_вод',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer7.setVisible(false);

        var layer8 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_времени_миграции',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer8.setVisible(false);

        var layer9 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_геологическая',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer9.setVisible(false);

        var layer10 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_грунтовых вод',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer10.setVisible(false);

        var layer11 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': '	EGH:Карта_густота_речной_сети',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer11.setVisible(false);

        var layer12 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_защищенности_подземных_вод',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer12.setVisible(false);

        var layer13 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_зоны_аэрации',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer13.setVisible(false);

        var layer14 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_населенных_пунктов',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer14.setVisible(false);

        var layer15 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_почв',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer15.setVisible(false);

        var layer16 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_растительности',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer16.setVisible(false);

        var layer17 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': '	EGH:Карта_рельефа',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer17.setVisible(false);

        var layer18 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_самоочищения',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer18.setVisible(false);

        var layer19 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': '	EGH:Карта_солн_радиации',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer19.setVisible(false);

        var layer20 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': '	EGH:Карта_среднемес_температур',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer20.setVisible(false);

        var layer21 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_четвертичных_отложений',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer21.setVisible(false);

        var layer22 = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                url: str,
                params: {
                    'LAYERS': 'EGH:Карта_административного_деления',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                serverType: 'geoserver',
            })
        });
        layer22.setVisible(true);

        var layers = [raster, layer1, layer2, layer3, layer5, layer6, layer7, layer8, layer9, layer10, layer11, layer12, layer13, layer14, layer15, layer16, layer17, layer18, layer19, layer20, layer21, layer22, vector];


        var myFormat = function (dgts) {
            return (
              function (coord1) {
                  var coord2 = [coord1[1], coord1[0]];
                  return ol.coordinate.toStringHDMS(coord2, dgts);
              });
        }
        var mousePositionControl = new ol.control.MousePosition({
            coordinateFormat: myFormat(0),
            projection: 'EPSG:4326',
            className: 'custom-mouse-position',
            target: document.getElementById('mouse-position'),
            undefinedHTML: '&nbsp;'
        });
        var scaleLineControl = new ol.control.ScaleLine();
        var   view = new ol.View({
            center: [3200000, 7100000],
            zoom: 6.8
        })
        var map = new ol.Map({
            controls: ol.control.defaults({
                attributionOptions:
                    ({
                        collapsible: false
                    }),
            }).extend([mousePositionControl, scaleLineControl]),
            layers: layers,
            target: 'map',
            view: view
        });
      
        var unitsSelect = document.getElementById('units');
        function onChange() {
            scaleLineControl.setUnits(unitsSelect.value);
        }
        unitsSelect.addEventListener('change', onChange);
        onChange();

        function hideLayer(layerName) {
            layerName.setVisible(false);
        }

        function toggleLayer(layerName) {
            if (layerName.getVisible() == true) {
                layerName.setVisible(false);
            } else {
                layerName.setVisible(true);
            }
        }

        map.on('click', function (evt) {
            var coordinate = evt.coordinate;
            var template = '{x}';
            var hdms = ol.coordinate.format(ol.proj.transform(coordinate, 'EPSG:3857', 'EPSG:4326'), template, 4);
            var template = '{y}';
            document.getElementById('display').value = deg_to_dms(hdms);
            var hdms2 = ol.coordinate.format(ol.proj.transform(coordinate, 'EPSG:3857', 'EPSG:4326'), template, 4);
            document.getElementById('display2').value = deg_to_dms(hdms2);
        });


        function deg_to_dms(hdms) {
            var d = Math.floor(hdms);
            var minfloat = (hdms - d) * 60;
            var m = Math.floor(minfloat);
            var secfloat = (minfloat - m) * 60;
            var s = Math.round(secfloat);

            if (s == 60) {
                m++;
                s = 0;
            }
            if (m == 60) {
                d++;
                m = 0;
            }

            return (d + " ° " + m + " ′  " + s + " ″ ");
        }

        function centerMap() {
            var lonlat = document.getElementById('coords').value;
            var lonlat1 = lonlat.split(",");
            var lonlat2 = lonlat.split(",").map(Number);

            map.getView().setCenter(ol.proj.transform(lonlat2, 'EPSG:4326', 'EPSG:3857'));
            map.getView().setZoom(7.0);
        }

        var modify = new ol.interaction.Modify({ source: source });
        map.addInteraction(modify);

        var draw, snap; // global so we can remove them later
        var typeSelect = document.getElementById('type');

        function addInteractions() {
            draw = new ol.interaction.Draw({
                source: source,
                type: typeSelect.value,
           
            });
            function removeLine() {
               vector.getSource().clear();
            }
            map.addInteraction(draw);
            snap = new ol.interaction.Snap({ source: source });
            map.addInteraction(snap);

        }
        typeSelect.onchange = function (e) {
            map.removeInteraction(draw);
            map.removeInteraction(snap);
            addInteractions();
        };

        addInteractions();

        var polygon = document.getElementById('polygon');
        polygon.addEventListener('click', function (event) {
            var coordinates = [[0, 0], [0, 40], [40, 0], [41, 25], [43, 16], [44, 11]];
          /*  var coord1 = document.getElementById('coord1').value;
            var coord2 = document.getElementById('coord2').value;
            var coord3 = document.getElementById('coord3').value;*/
            var geometry = new ol.geom.Polygon([coordinates]);

            geometry.transform('EPSG:4326', 'EPSG:3857');
            var feature = new ol.Feature({
                geometry: geometry
            });

            source.addFeature(feature);
        })
     

            var clearButton = document.getElementById('clear');
            clearButton.addEventListener('click', function (event) {
                vector.getSource().clear();
                      })
    </script>


